extends layout
block content
	section.wrapper.style1
		.container
			#content
				// Content
				article
					header
						h2 Nosotros
						p Somos más que una academia de enseñanza.
					span.image.featured						
					p.justify
						| El camino de aprendizaje de un desarrollador no es sencillo. Y menos aún cuando se trata de un 
						b Full Stack Developer.
						| Con tantas habilidades por desarrollar y tecnologías por aprender este camino se vuelve confuso y no sabemos por donde caminar.
						| Siguiendo las tradiciones de las artes marciales en las que los aprendices asisten al dojo, en nuestro caso al templo,  hemos desarrollado un plan de aprendizaje orientado a niveles o grados en los que el estudiante podrá seguir. Así por ejemplo, podrás iniciar tu entretenimiento desde el 
						b nivel de aprendiz, luego pasar a guerrero, avanzar a maestro y llegar a convertirte en leyenda.
						|  ¿Estás listo para el reto?
					img(src='images/banner05.png', alt='')
					p.justify
						b ¿Qué es un desarrollador Full Stack? 
						| Es un término dentro de nuestro campo de la informática bastante reciente. Se dice de aquel desarrollador con capacidades y experiencia para desarrollar en 
						b front-end y back-end. 
						| Para esto debe contar con un set de habilidades bastante amplio. De esta manera puede participar en múltiples fases como el desarrollo,  pruebas y despliegue.
						| Algunas de estas habilidades son:					
					ul.default
						li Sistemas Operativos, redes y hosting
						li Desarrollo Web
						li Versionamiento
						li Agile mindset
						li Modelamiento de datos
						li Lógica de negocio
						li API /MVC
						li UX
						li Aplicaciones móviles

						