// Footer
footer#footer
  .container
    .row     
      section.12u(class='12u(narrower)')
        include contact        
  // Icons
  ul.icons
    //
      li
        a.icon.fa-twitter(href='#')
          span.label Twitter
    li
      a.icon.fa-facebook(href='https://www.facebook.com/TemploTec', target="_blank")
        span.label Facebook    
    li
      a.icon.fa-github(href='https://github.com/fakico/TemploTec', target="_blank")
        span.label GitHub
    //
      li
        a.icon.fa-linkedin(href='#')
          span.label LinkedIn
    //
      li
      a.icon.fa-google-plus(href='#')
        span.label Google+
  // Copyright
  .copyright
    ul.menu
      li Todos los derechos reservados TemploTec© 2016
      li
        | Agradememos el diseño a: 
        a(href='http://html5up.net', target="_blank") HTML5 UP
    ul.menu
      li Las imágenes de Node.js®, MongoDb® y AngularJS® pertenecen a sus propias compañías