// Header
#header
  // Logo
  h1
    a#logo(href='/')
      | TemploTec
      em
      img.logoImg(width='150', height='auto', src='/images/templo02.png', alt='templotec')
  // Nav
  nav#nav
    ul
      li.current
        a(href='/') Home
      li
        a(href='/nosotros') Nosotros
      li
        a(href='/#contactanos') Contactenos
      li
        a(href='#') Cursos
        ul
          li
            a(href='/cursos/nodejs') Nodejs
          li
            a(href='/cursos/angularjs') Angularjs
          li
            a(href='/cursos/mongodb') Mongodb
