// Header
#header
  // Logo
  h1
    a#logo(href='/')
      | TemploTec       
  // Nav
  nav#nav
    ul
      li.current
        a(href='/') Home
      li
        a(href='/#cursos') Cursos
        ul
          li
            a(href='#') Lorem dolor
          li
            a(href='#') Magna phasellus
          li
            a(href='#') Etiam sed tempus
          li
            a(href='#') Submenu
            ul
              li
                a(href='#') Lorem dolor
              li
                a(href='#') Phasellus magna
              li
                a(href='#') Magna phasellus
              li
                a(href='#') Etiam nisl
              li
                a(href='#') Veroeros feugiat
          li
            a(href='#') Veroeros feugiat
      li
        a(href='/nosotros') Nosotros
      li
        a(href='/#contactanos') Contáctanos    