extends ../layout
block content
	// Main
	section.wrapper.style1
		.container
			.row(class='200%')
				.4u(class='12u(narrower)')
					#sidebar
						// Sidebar
						section
							h3 Just a Subheading
							p
								| Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
								| Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
								| Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.
							footer
								a.button(href='#') Continue Reading
						section
							h3 Another Subheading
							ul.links
								li
									a(href='#') Amet turpis, feugiat et sit amet
								li
									a(href='#') Ornare in hendrerit in lectus
								liss
									a(href='#') Semper mod quis eget mi dolore
								li
									a(href='#') Consequat etiam lorem phasellus
								li
									a(href='#') Amet turpis, feugiat et sit amet
								li
									a(href='#') Semper mod quisturpis nisi
							footer
								a.button(href='#') More Random Links
				.8u(class='12u(narrower) important(narrower)')
					#content
						// Content
						article
							header
								h2 MongoDB								
							span.image.featured
								img(src='/images/mongobanner03.jpg', alt='')
							p
								| MongoDB es un sistema de base de datos multiplataforma orientado a documentos, de esquema libre.
								| Las características que más destacaría de MongoDB son su velocidad y su rico pero sencillo sistema de consulta de los
								| contenidos de la base de datos. Se podría decir que alcanza un balance perfecto entre rendimiento y funcionalidad,
								| incorporando muchos de los tipos de consulta que utilizaríamos en nuestro sistema relacional preferido,
								| pero sin sacrificar en rendimiento.
							h3.tituloCursos Aprenderás
							.LandingSkills
								.LandingSkills-item
									.LandingSkills-image
										img(src='/images/mongodbicon.png', alt='MongoDB', height='70', width='70')
									p.LadingSkills-image MongoDB
