extends ../layout
block content
  // Main
  section.wrapper.style1
    .container
      .row(class='200%')
        .4u(class='12u(narrower)')
          #sidebar
          section
            h3 Niveles de Aprendizaje
            ul.links
              li
                a.button(href='/cursos/nodejs/fundamentos') Fundamentos
              br
              li
                a.button(href='/cursos/nodejs/webapps') Web Apps
        .8u(class='12u(narrower) important(narrower)')
          #content
            // Content
            article
              header
                h2 Node.js            
              span.image.featured
                img(src='/images/nodebanner01.png', alt='')
              p.justify
                | Node.js un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor
                | (pero no limitándose a ello) basado en el lenguaje de programación ECMAScript, asíncrono,
                | con I/O de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google.
                | Fue creado con el enfoque de ser útil en la creación de programas de red altamente escalables.
                | El uso de Node.js para construir sus aplicaciones en tiempo real y multiusuario. Desde las salas de chat a los juegos en línea,
                | podemos aprovechar Node.js para llevar su proyecto a la vida
              h3.tituloCursos Aprenderás
              .LandingSkills
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/nodejsicon.png', alt='Node.js', height='70', width='70')
                  p.LadingSkills-image Node.js
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/npmicon.png', alt='NPM', height='70', width='70')
                  p.LadingSkills-image NPM
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/Expressjsicon.png', alt='Express.js', height='70', width='70')
                  p.LadingSkills-image Express.js
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/jasmineicon.png', alt='Jasmine', height='70', width='70')
                  p.LadingSkills-image Jasmine
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/grunticon.png', alt='GruntJS', height='70', width='70')
                  p.LadingSkills-image GruntJS
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/bowericon.png', alt='Bower', height='70', width='70')
                  p.LadingSkills-image Bower
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/mongodbicon.png', alt='MongoDB', height='70', width='70')
                  p.LadingSkills-image MongoDB
                .LandingSkills-item
                  .LandingSkills-image
                    img(src='/images/socketioicon.png', alt='MongoDB', height='70', width='70')
                  p.LadingSkills-image Socket.io
              ul.default
                li Instalación Node.js
                li Node.js Shell: Node REPL
                li Arquitectura de Node.js
                li Asincronía
                li Montar un servidor web en la nube
                li Implementación de WebSockets
                li NPM: Node Package Manager
                li Técnicas de debugging
                li Callbacks, Promises, Eventos
                li Manejo de dependencias con package.json
                li Automatización de tareas
                li Módulos personalizados y git
                li Express.js
                li Ruteo básico y avanzado
                li Servidor de contenido estático y dinámico
                li Parsers para formularios y cookies
                li Middlewares
                li Conexión a MongoDB
                li Conexión a MySQL

