extends ../../../layout
block content
  section.wrapper.style1
    .container
      .row(class='200%')
        .4u(class='12u(narrower)')
          #sidebar
            section
              h3 Niveles de Aprendizaje
              ul.links
                li
                  a.button(href='/cursos/nodejs/fundamentos') Fundamentos
                br
                li
                  a.button(href='/cursos/nodejs/webapps') Web Apps
        .8u(class='12u(narrower) important(narrower)')
          #content
            // Content
            article
              header
                h2 Node.js:  Fundamentos
              span.image.featured
                img(src='/images/modulo_1.png', alt='modulo1') 

              ul
                li
                  span.TemploColor Frecuencia: 
                  span.TemploContent Sábados
                li
                  span.TemploColor Horario: 
                  span.TemploContent 8:30 a.m. a 2:30 p.m.
                li
                  span.TemploColor Duración: 
                  span.TemploContent 24 horas
                li
                  span.TemploColor Inicio: 
                  span.TemploContent 12 de marzo
                li
                  span.TemploColor Informes: 
                  span.TemploContent informes@templotec.com             
              
              p.justify
                | Todo buen inicio requiere una buena base. Con el curso Node.js Fundamentos, el cuál te dará el rango de aprendiz, darás los primeros pasos.
              p.justify
                | Node.js es bastante potente y flexible gracias a los múltiples módulos que proporciona, pero para utilizarlos y dominarlos hace falta un buen conocimiento de la plataforma y destreza con la asincronía.
              p.justify
                | Al finalizar el curso Node.js Fundamentos dominarás los siguientes temas:
              ul.default
                li Cuándo elegir Node.js
                li Arquitectura de Node.js
                li Event Loop
                li Instalación del framework
                li Manejo de asincronía
                li Creación de módulos personalizados
                li Callbacks
                li Promesas
                li Eventos
                li Debugging
                li Librerías CORE
                li Repositorio NPM
                li Comunicación con Sockets
                li Construcción de servidor HTTP