extends ../../../layout
block content
  // Main
  section.wrapper.style1
    .container
      .row(class='200%')
        .4u(class='12u(narrower)')
          #sidebar
            section
              h3 Niveles de Aprendizaje
              ul.links
                li
                  a.button(href='/cursos/nodejs/fundamentos') Fundamentos
                br
                li
                  a.button(href='/cursos/nodejs/webapps') Web Apps                              
        .8u(class='12u(narrower) important(narrower)')
          #content
            // Content
            article
              header
                h2 Node.js: Web Apps
              span.image.featured
                img(src='/images/modulo1.png', alt='modulo1')             
              h3.tituloCursos Aprenderás
              ul.default
                li Express
                li Middleware más populares
                li Construcción de Middlewares personalizados
                li Construcción REST API
                li Implementación de mecanismos de seguridad
                li Consumo de API externas
                li Conexión a MongoDB
                li Socket.io para comunicación en tiempo real
                li Configuración por ambientes
                li Log de eventos
            h2 Preguntar por próximos inicios!                
                
                
                

