extends ../../../layout
block content
  // Main
  section.wrapper.style1
    .container
      .row(class='200%')
        .4u(class='12u(narrower)')
          #sidebar
            section
              h3 Nivelves de Aprendizaje
              ul.links
                li
                  a.button(href='/cursos/nodejs/fundamentos') Fundamentos
                br
                li
                  a.button(href='/cursos/nodejs/webapps') Web Apps                              
        .8u(class='12u(narrower) important(narrower)')
          #content
            // Content
            article
              header
                h2 Node.js: Web Apps
              span.image.featured
                img(src='/images/modulo1.png', alt='modulo1')
              //
                ul
                  li
                    span.TemploColor Frecuencia: 
                    span.TemploContent Sólo Sábados.
                  li
                    span.TemploColor Horario: 
                    span.TemploContent 9:30 am a 3:30 pm
                  li
                    span.TemploColor Duración: 
                    span.TemploContent 26 horas
                  li
                    span.TemploColor Inicio: 
                    span.TemploContent 27 de Febrero
                  li
                    span.TemploColor Informes: 
                    span.TemploContent informes@templotec.com
              h3.tituloCursos Aprenderás
              ul.LandingSummary-list
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Instala Node.js
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Node.js Shell: Node REPL
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Variables globales: global, process
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Sincronismo vs asincronismo
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Montar un web server simple (usando módulo http)
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic CommonJS: Cómo organizar nuestro código en módulos
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic NPM: Node Package Manager
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Cómo instalar paquetes
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Semantic versioning (semver)
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Paquetes globales
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Manejo de dependencias con package.json
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Events: emit and listen
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Debugging en Node.js
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Express.js
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Ruteo básico
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Archivos estáticos
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Parsers para formularios y cookies
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Middlewares
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic Passport
                li.LandingSummary-item
                  .LandingSummary-bullet
                  span.LandingSummary-topic MongoDB

